build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/.qmake.stash
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile.Debug
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile.Release
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/ui_mainwindow.h
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/Airside_Functions.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/main.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/mainwindow.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_mainwindow.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_predefs.h
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/serialclass.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/.qmake.stash
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Debug
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Release
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/Airside_Functions.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/GUI_NEW.exe
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/main.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-GUI_NEW-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/serialclass.o
